table {
  margin: 3% 8%;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

tbody:nth-child(odd) {
  background-color: rgb(227, 227, 227);
}

td:nth-child(1),
th {
  font-weight: 900;
  font-size: 1.2rem;
}

td:nth-child(2) {
  font-size: 1rem;
  line-height: 1.5rem;
}

th {
  padding: 0 30px;
}

.leaveMission {
  color: red;
  background-color: white;
  border-color: red;
  cursor: pointer;  
  margin: 0 5px;

}

.joinMission {
  color: black;
  border-color: black;
  background-color: white;
  cursor: pointer;
  margin: 0 20px;
}

.member {
  color: white;
  background-color: blue;
  border-radius: 2px;
  margin: 0 10px;
  text-align: center;
}

.notMember {
  background-color: black;
  border-radius: 2px;
  color: white;
  text-align: center;
  margin: 0 5px;
}